RaspberryPI/nodeRED_flow.json
[{"id":"1c01e4d9.02dbd3","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"buffer1_up","server":"4eef1b34.05807c","x":80,"y":60,"wires":[["23586a15.ccaa5e"]]},{"id":"cb1bc29.74ffbc","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"buffer1_down","server":"eb4d1bb4.27c9b8","x":90,"y":140,"wires":[["af172085.4013"]]},{"id":"e7894549.0cb398","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"buffer2_down","server":"eb4d1bb4.27c9b8","x":90,"y":360,"wires":[["b7e55f3d.249c88"]]},{"id":"f3491e52.03a11","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"roof","server":"eb4d1bb4.27c9b8","x":70,"y":720,"wires":[["96765302.24d788"]]},{"id":"bd70a65c.a7605","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"status","server":"eb4d1bb4.27c9b8","x":70,"y":860,"wires":[["3df6a34b.80e99c"]]},{"id":"201b4d16.5e0d22","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"4cbcba8.4cd7c44","order":2,"width":0,"height":0,"gtype":"gage","title":"Puffer 1 Unten","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":920,"y":180,"wires":[]},{"id":"af172085.4013","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'Puffer1 unten';\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["1be26aee.41cddd"]]},{"id":"23586a15.ccaa5e","type":"function","z":"eee6ff58.a44c38","name":"","func":"var msg;\nmsg.payload = Number(msg.payload);\nmsg.topic = 'Puffer1 oben';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["27c6d0da.e73038"]]},{"id":"b7e55f3d.249c88","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'Puffer2 unten';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":360,"wires":[["5a9dbeec.6ceb68"]]},{"id":"96765302.24d788","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":720,"wires":[["138aa241.cfc896"]]},{"id":"328a96.1064f56a","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"4cbcba8.4cd7c44","order":1,"width":0,"height":0,"gtype":"gage","title":"Puffer 1 Oben","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":920,"y":20,"wires":[]},{"id":"e95a9a6b.dba9e8","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"2f1abb8d.8eb484","order":3,"width":0,"height":0,"gtype":"gage","title":"Brauchwasser Unten","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":940,"y":620,"wires":[]},{"id":"af046ec8.00b4c","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"fa828106.c15e38","order":1,"width":0,"height":0,"gtype":"gage","title":"Dach","label":"Oben","format":"{{msg.payload}}°","min":"-30","max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":890,"y":680,"wires":[]},{"id":"f0bd5f49.a65a88","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"buffer2_up","server":"eb4d1bb4.27c9b8","x":80,"y":280,"wires":[["684df65d.a8cc3"]]},{"id":"94a11e58.7eaa2","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"freshwater_up","server":"eb4d1bb4.27c9b8","x":100,"y":500,"wires":[["97975f7.d81a42"]]},{"id":"4d499017.0450f8","type":"amqp in","z":"eee6ff58.a44c38","name":"","topic":"","iotype":"4","ioname":"freshwater_down","server":"eb4d1bb4.27c9b8","x":100,"y":580,"wires":[["6c09568d.5a83a"]]},{"id":"6c09568d.5a83a","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'Brauchwasser unten';\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":580,"wires":[["73faa1df.65c57"]]},{"id":"97975f7.d81a42","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'Brauchwasser oben';\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["426983dd.16ca74"]]},{"id":"684df65d.a8cc3","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'Puffer2 oben';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[["a5f86c6f.5de1c8"]]},{"id":"79124d02.315bd4","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"2f1abb8d.8eb484","order":1,"width":0,"height":0,"gtype":"gage","title":"Brauchwasser Oben","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":940,"y":460,"wires":[]},{"id":"3679412b.db013e","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"f4a7863.db8a2f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Puffer 2 Oben","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":920,"y":240,"wires":[]},{"id":"3bc0244d.63842c","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"f4a7863.db8a2f8","order":3,"width":0,"height":0,"gtype":"gage","title":"Puffer 2 Unten","label":"","format":"{{msg.payload}}°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","x":920,"y":400,"wires":[]},{"id":"51a5f314.ef5e4c","type":"ui_gauge","z":"eee6ff58.a44c38","name":"","group":"8fccac89.626168","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":860,"wires":[]},{"id":"fe468acb.f919e8","type":"ui_chart","z":"eee6ff58.a44c38","name":"","group":"fa828106.c15e38","order":2,"width":"0","height":"0","label":"Dach Verlauf","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"-30","ymax":"160","removeOlder":"18","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":760,"wires":[[],[]]},{"id":"8c3fe15b.a5e79","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":720,"wires":[["fe468acb.f919e8","997ecb1d.92fbf"]]},{"id":"6005d410.b0bac4","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":680,"wires":[["af046ec8.00b4c"]]},{"id":"bdd8ae2f.b1e038","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":620,"wires":[["e95a9a6b.dba9e8"]]},{"id":"516fe6c.dce5a18","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":580,"wires":[["311405fd.eafe6a","b46aa29a.91e9"]]},{"id":"14dbd906.ad5cd7","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":460,"wires":[["79124d02.315bd4"]]},{"id":"7168c902.84ed38","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":500,"wires":[["311405fd.eafe6a","15949e82.b22821"]]},{"id":"ed7a61e4.b6c748","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":360,"wires":[["484bd38d.b219b4","4f4302ce.07d72c"]]},{"id":"fe292f4c.ecc46","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":280,"wires":[["484bd38d.b219b4","820183fb.d1ebf8"]]},{"id":"7226db85.175eac","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":400,"wires":[["3bc0244d.63842c"]]},{"id":"e86bf6f9.1b4a38","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":240,"wires":[["3679412b.db013e"]]},{"id":"4d85eadf.c0d0dc","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":180,"wires":[["201b4d16.5e0d22"]]},{"id":"2df7314c.2781a6","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":140,"wires":[["73568bd8.5f3b5c","884aab2a.baf508"]]},{"id":"34da7240.664b5e","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":20,"wires":[["328a96.1064f56a"]]},{"id":"311405fd.eafe6a","type":"ui_chart","z":"eee6ff58.a44c38","name":"","group":"2f1abb8d.8eb484","order":2,"width":0,"height":0,"label":"Brauchwasser Verlauf","chartType":"line","legend":"true","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"18","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":540,"wires":[[],[]]},{"id":"484bd38d.b219b4","type":"ui_chart","z":"eee6ff58.a44c38","name":"","group":"f4a7863.db8a2f8","order":2,"width":"0","height":"0","label":"Puffer2 Verlauf","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":920,"y":320,"wires":[[],[]]},{"id":"73568bd8.5f3b5c","type":"ui_chart","z":"eee6ff58.a44c38","name":"","group":"4cbcba8.4cd7c44","order":1,"width":"0","height":"0","label":"Puffer1 Verlauf","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":920,"y":100,"wires":[[],[]]},{"id":"3df6a34b.80e99c","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":860,"wires":[["f6ec6cd1.15b4b"]]},{"id":"f6ec6cd1.15b4b","type":"function","z":"eee6ff58.a44c38","name":"","func":"if(msg.payload == 'noheating'){\n    msg.payload=0;\n    return [msg,null,null,null];\n}\nelse if(msg.payload == 'noheating'){\n    msg.payload=1;\n    return [null,msg,null,null];\n}\nelse if(msg.payload == 'noheating'){\n    msg.payload=2;\n    return [null,null,msg,null];\n}\nelse if(msg.payload == 'noheating'){\n    msg.payload=3;\n    return [null,null,null,msg];\n}\n    \n\n","outputs":4,"noerr":0,"x":730,"y":860,"wires":[["51a5f314.ef5e4c"],["51a5f314.ef5e4c"],["51a5f314.ef5e4c"],["51a5f314.ef5e4c"]]},{"id":"19cae7b9.48e2f8","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":60,"wires":[[]]},{"id":"58b3f1c1.99f8f8","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (0, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":60,"wires":[["19cae7b9.48e2f8"]]},{"id":"884aab2a.baf508","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (1, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":140,"wires":[["14033408.4b72a4"]]},{"id":"820183fb.d1ebf8","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (2, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":280,"wires":[["a04656ac.5b3128"]]},{"id":"4f4302ce.07d72c","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (3, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[["85dc1b43.388d68"]]},{"id":"15949e82.b22821","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (4, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":500,"wires":[["19c65a6d.c10fb6"]]},{"id":"b46aa29a.91e9","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (5, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":580,"wires":[["3672adeb.31adea"]]},{"id":"997ecb1d.92fbf","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"INSERT INTO entries (type, data, tstamp) VALUES (6, \" + msg.payload +\",now())\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":720,"wires":[["672687de.4ec8e8"]]},{"id":"14033408.4b72a4","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":140,"wires":[[]]},{"id":"a04656ac.5b3128","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":280,"wires":[[]]},{"id":"85dc1b43.388d68","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":360,"wires":[[]]},{"id":"19c65a6d.c10fb6","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":500,"wires":[[]]},{"id":"3672adeb.31adea","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":580,"wires":[[]]},{"id":"672687de.4ec8e8","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1270,"y":720,"wires":[[]]},{"id":"cad82592.55d768","type":"ui_date_picker","z":"eee6ff58.a44c38","name":"from","label":"von","group":"142dfbc2.228e8c","order":1,"width":0,"height":0,"passthru":false,"topic":"","x":410,"y":960,"wires":[["85a871d1.abd768"]]},{"id":"2869d443.f09c8c","type":"ui_date_picker","z":"eee6ff58.a44c38","name":"to","label":"bis","group":"142dfbc2.228e8c","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":410,"y":1000,"wires":[["fc2e863d.8c6e98"]]},{"id":"4a95d817.dec8d","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Puffer 1 oben","tooltip":"","group":"142dfbc2.228e8c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1060,"wires":[["18cc4db3.b18d3a"]]},{"id":"87f10ac0.586638","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Puffer 1 unten","tooltip":"","group":"142dfbc2.228e8c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1100,"wires":[["a3b93441.a4748"]]},{"id":"40407e3a.c75808","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Puffer 2 oben","tooltip":"","group":"142dfbc2.228e8c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1140,"wires":[["a155636c.bab7b8"]]},{"id":"d93e32e8.7d8ef8","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Puffer 2 unten","tooltip":"","group":"142dfbc2.228e8c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1180,"wires":[["1fd2e363.a7e335"]]},{"id":"5ea712c.49895ec","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Brauchwasser oben","tooltip":"","group":"142dfbc2.228e8c","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":1220,"wires":[["394e4d7.657c632"]]},{"id":"7c247fcb.212b9","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Brauchwasser unten","tooltip":"","group":"142dfbc2.228e8c","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":1260,"wires":[["5a425e95.dbcab"]]},{"id":"ddf30777.232928","type":"ui_switch","z":"eee6ff58.a44c38","name":"","label":"Dach","tooltip":"","group":"142dfbc2.228e8c","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1300,"wires":[["5177673a.9ac38"]]},{"id":"166f03a7.1e81f4","type":"ui_button","z":"eee6ff58.a44c38","name":"Update","group":"142dfbc2.228e8c","order":11,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"button","x":160,"y":1300,"wires":[["4a95d817.dec8d","87f10ac0.586638","40407e3a.c75808","d93e32e8.7d8ef8","5ea712c.49895ec","7c247fcb.212b9","ddf30777.232928","d01dd85a.f08e7","ca239ce9.d4d408"]]},{"id":"18cc4db3.b18d3a","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1060,"wires":[["8230c92c.0c6be8"]]},{"id":"a3b93441.a4748","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1100,"wires":[["254bc891.1a2318"]]},{"id":"a155636c.bab7b8","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1140,"wires":[["2a8fd7d1.bb1e08"]]},{"id":"1fd2e363.a7e335","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1180,"wires":[["1916ae01.490f52"]]},{"id":"394e4d7.657c632","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1220,"wires":[["5d197096.e51b68"]]},{"id":"5a425e95.dbcab","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1260,"wires":[["87ee3d9d.42589"]]},{"id":"5177673a.9ac38","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1300,"wires":[["ced8a704.18a8b8"]]},{"id":"e944c18c.abd0e","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 0 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[["96ff7655.332b2"]]},{"id":"96ff7655.332b2","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1060,"wires":[["13cee5a.a3f199a"]]},{"id":"eca57355.259c4","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1100,"wires":[["89734c10.850858"]]},{"id":"2f5a35b2.c146da","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1140,"wires":[["9220885a.806608"]]},{"id":"962ed3f3.ebe11","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1180,"wires":[["b3dd0acd.d11d5"]]},{"id":"1c8af8d0.f21357","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1220,"wires":[["6d02469b.7c3e9"]]},{"id":"52fa00f7.089988","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1260,"wires":[["9090205c.cb453"]]},{"id":"b9e31d4a.8c283","type":"mysql","z":"eee6ff58.a44c38","mydb":"814ef866.cb318","name":"","x":1130,"y":1300,"wires":[["f48f77bb.ed93e"]]},{"id":"13cee5a.a3f199a","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Puffer 1 oben\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Buffer1up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1060,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"89734c10.850858","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Puffer 1 unten\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Buffer1down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1100,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"9220885a.806608","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Puffer 2 oben\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Buffer2up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1140,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"b3dd0acd.d11d5","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Puffer 2 unten\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Buffer2down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1180,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"6d02469b.7c3e9","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Brauchwasser oben\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"freshwaterup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1220,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"9090205c.cb453","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Brauchwasser unten\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"freshwaterdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1260,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"f48f77bb.ed93e","type":"change","z":"eee6ff58.a44c38","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": \"Dach\",\t    \"data\": [(\t        $xaxis := \"tstamp\";\t        $yaxis := \"data\";\t        $$.payload.{\"x\":$lookup($, $xaxis),\"y\":$lookup($, $yaxis)\t        })\t      ],\t      \"labels\": [\"\"]\t    }\t  ]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"roof","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1300,"wires":[["34f94adc.ca57ae","b0c330f.16e3bd"]]},{"id":"80a97319.e81548","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 1 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1100,"wires":[["eca57355.259c4"]]},{"id":"e496459b.cf4788","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 2 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1140,"wires":[["2f5a35b2.c146da"]]},{"id":"f9f17a05.c316","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 3 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1180,"wires":[["962ed3f3.ebe11"]]},{"id":"e3e66488.c438e","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 4 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1220,"wires":[["1c8af8d0.f21357"]]},{"id":"1f969426.c9ded4","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 5 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1260,"wires":[["52fa00f7.089988"]]},{"id":"3817d39f.17c284","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.payload = Number(msg.payload);\nmsg.topic = \"SELECT data , tstamp FROM entries WHERE type = 6 AND tstamp >='\"+flow.get(\"datefrom\")+\"' AND tstamp <= '\"+flow.get(\"dateto\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1300,"wires":[["b9e31d4a.8c283"]]},{"id":"34f94adc.ca57ae","type":"join","z":"eee6ff58.a44c38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"0","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":1180,"wires":[["eed25f79.5a41b"]]},{"id":"eed25f79.5a41b","type":"function","z":"eee6ff58.a44c38","name":"","func":"var series = [];\nvar data = [];\nvar labels = [];\nvar i =0;\n\n\nfor (var w in msg.payload) {\n    \n    if(msg.payload[i]!=\"166f03a7.1e81f4\")\n    {\n        series[i]=msg.payload[i][0].series;\n        data[i]=msg.payload[i][0].data;\n        labels[i]=\"\";\n        \n    }\n    i++;\n}\n\n\nmsg.payload = [];\nmsg.payload[0]={};\nmsg.payload[0].series = [];\nmsg.payload[0].data = [];\nmsg.payload[0].labels = [];\nmsg.payload[0].labels = labels;\nmsg.payload[0].series = series;\nmsg.payload[0].data = data;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1180,"wires":[["29b751a5.24273e"]]},{"id":"d01dd85a.f08e7","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.complete=\"\";\nmsg.enabled = 0;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1400,"wires":[["166f03a7.1e81f4"]]},{"id":"8230c92c.0c6be8","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1060,"wires":[["e944c18c.abd0e","e600af14.20b5b"]]},{"id":"254bc891.1a2318","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1100,"wires":[["80a97319.e81548","e600af14.20b5b"]]},{"id":"2a8fd7d1.bb1e08","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1140,"wires":[["e496459b.cf4788","e600af14.20b5b"]]},{"id":"5d197096.e51b68","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1220,"wires":[["e3e66488.c438e","e600af14.20b5b"]]},{"id":"87ee3d9d.42589","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1260,"wires":[["1f969426.c9ded4","e600af14.20b5b"]]},{"id":"ced8a704.18a8b8","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1300,"wires":[["3817d39f.17c284","e600af14.20b5b"]]},{"id":"1916ae01.490f52","type":"switch","z":"eee6ff58.a44c38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1180,"wires":[["f9f17a05.c316","e600af14.20b5b"]]},{"id":"9e10d17a.e88f28","type":"function","z":"eee6ff58.a44c38","name":"","func":"\nvar full={};\n\nfull.complete=\"\";\nfull.enabled = 1;\n\nreturn full;","outputs":1,"noerr":0,"x":1830,"y":1400,"wires":[["34f94adc.ca57ae","166f03a7.1e81f4"]]},{"id":"13ee3700.a4e421","type":"inject","z":"eee6ff58.a44c38","name":"","topic":"","payload":".enabled=1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1220,"wires":[["166f03a7.1e81f4"]]},{"id":"d181522d.fa35","type":"rbe","z":"eee6ff58.a44c38","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":60,"wires":[["58b3f1c1.99f8f8","73568bd8.5f3b5c"]]},{"id":"383a3976.86c626","type":"ui_button","z":"eee6ff58.a44c38","name":"","group":"8fccac89.626168","order":2,"width":"4","height":"1","passthru":false,"label":"Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":1480,"wires":[["f59b7a74.fb2c6"]]},{"id":"f59b7a74.fb2c6","type":"exec","z":"eee6ff58.a44c38","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"restart Pi","x":300,"y":1480,"wires":[[],[],[]]},{"id":"b0c330f.16e3bd","type":"counter","z":"eee6ff58.a44c38","name":"","init":"0","step":"1","lower":"0","upper":"7","mode":"increment","outputs":"1","x":1520,"y":1400,"wires":[["35262585.7b94ea"]]},{"id":"e600af14.20b5b","type":"counter","z":"eee6ff58.a44c38","name":"","init":"0","step":"1","lower":"","upper":"7","mode":"increment","outputs":"1","x":920,"y":1420,"wires":[["188995bc.947c52"]]},{"id":"6d3850a.a964bb","type":"change","z":"eee6ff58.a44c38","name":"","rules":[{"t":"set","p":"counter","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1420,"wires":[[]]},{"id":"35262585.7b94ea","type":"switch","z":"eee6ff58.a44c38","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"counter","vt":"flow"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":1400,"wires":[["9e10d17a.e88f28"],["9e10d17a.e88f28"]]},{"id":"67b463b3.25b824","type":"inject","z":"eee6ff58.a44c38","name":"","topic":"","payload":"enabled=0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1540,"wires":[["383a3976.86c626"]]},{"id":"ca239ce9.d4d408","type":"function","z":"eee6ff58.a44c38","name":"","func":"msg.reset =true;\nmsg.payload =0;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1380,"wires":[["e600af14.20b5b","b0c330f.16e3bd"]]},{"id":"188995bc.947c52","type":"switch","z":"eee6ff58.a44c38","name":"","property":"count","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1420,"wires":[["6d3850a.a964bb"]]},{"id":"29b751a5.24273e","type":"ui_chart","z":"eee6ff58.a44c38","name":"","group":"c6448fa2.b6efa8","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1900,"y":1180,"wires":[[],[]]},{"id":"48b51f07.2f964","type":"change","z":"eee6ff58.a44c38","name":"","rules":[{"t":"set","p":"datefrom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":960,"wires":[[]]},{"id":"a61023aa.14167","type":"change","z":"eee6ff58.a44c38","name":"","rules":[{"t":"set","p":"dateto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1000,"wires":[[]]},{"id":"85a871d1.abd768","type":"moment","z":"eee6ff58.a44c38","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"de_DE","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":580,"y":960,"wires":[["48b51f07.2f964"]]},{"id":"fc2e863d.8c6e98","type":"moment","z":"eee6ff58.a44c38","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"de_DE","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":580,"y":1000,"wires":[["a61023aa.14167"]]},{"id":"138aa241.cfc896","type":"change","z":"eee6ff58.a44c38","name":"roof","rules":[{"t":"set","p":"roof","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[[]]},{"id":"c85c7c72.52e4c","type":"inject","z":"eee6ff58.a44c38","name":"roof","topic":"Kollektor","payload":"roof","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":720,"wires":[["6005d410.b0bac4","8c3fe15b.a5e79"]]},{"id":"713d39db.2ef3f8","type":"change","z":"eee6ff58.a44c38","name":"fw_down","rules":[{"t":"set","p":"fw_down","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[[]]},{"id":"966a7755.f4458","type":"inject","z":"eee6ff58.a44c38","name":"fwdown","topic":"Brauchwasser unten","payload":"fw_down","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":580,"wires":[["516fe6c.dce5a18","bdd8ae2f.b1e038"]]},{"id":"b2e47707.74e358","type":"change","z":"eee6ff58.a44c38","name":"fw_up","rules":[{"t":"set","p":"fw_up","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":500,"wires":[[]]},{"id":"3b42dc31.e5a714","type":"inject","z":"eee6ff58.a44c38","name":"fwdown","topic":"Brauchwasser oben","payload":"fw_up","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":500,"wires":[["7168c902.84ed38","14dbd906.ad5cd7"]]},{"id":"74fc88cb.98b338","type":"change","z":"eee6ff58.a44c38","name":"b2_down","rules":[{"t":"set","p":"b2_down","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[[]]},{"id":"b5880702.62b2f8","type":"change","z":"eee6ff58.a44c38","name":"b2_up","rules":[{"t":"set","p":"b2_up","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[[]]},{"id":"bf9561cc.55281","type":"inject","z":"eee6ff58.a44c38","name":"b2up","topic":"Puffer 2 oben","payload":"b2_up","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":280,"wires":[["e86bf6f9.1b4a38","fe292f4c.ecc46"]]},{"id":"b6daeec0.503818","type":"inject","z":"eee6ff58.a44c38","name":"b2down","topic":"Puffer 2 unten","payload":"b2_down","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":360,"wires":[["ed7a61e4.b6c748","7226db85.175eac"]]},{"id":"7a070982.c72ca","type":"change","z":"eee6ff58.a44c38","name":"b1_down","rules":[{"t":"set","p":"b1_down","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[[]]},{"id":"fb384a45.112b58","type":"change","z":"eee6ff58.a44c38","name":"b1_up","rules":[{"t":"set","p":"b1_up","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[[]]},{"id":"8241bb4d.b89088","type":"inject","z":"eee6ff58.a44c38","name":"b1up","topic":"Puffer 1 oben","payload":"b1_up","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":60,"wires":[["34da7240.664b5e","d181522d.fa35"]]},{"id":"2ef27dd3.796132","type":"inject","z":"eee6ff58.a44c38","name":"b1down","topic":"Puffer 1 unten","payload":"b1_down","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":140,"wires":[["2df7314c.2781a6","4d85eadf.c0d0dc"]]},{"id":"27c6d0da.e73038","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":20,"wires":[["fb384a45.112b58"]]},{"id":"1be26aee.41cddd","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["7a070982.c72ca"]]},{"id":"a5f86c6f.5de1c8","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":240,"wires":[["b5880702.62b2f8"]]},{"id":"5a9dbeec.6ceb68","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":320,"wires":[["74fc88cb.98b338"]]},{"id":"426983dd.16ca74","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":460,"wires":[["b2e47707.74e358"]]},{"id":"73faa1df.65c57","type":"switch","z":"eee6ff58.a44c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":540,"wires":[["713d39db.2ef3f8"]]},{"id":"4eef1b34.05807c","type":"amqp-server","z":"","host":"localhost","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"eb4d1bb4.27c9b8","type":"amqp-server","z":"","host":"localhost","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"4cbcba8.4cd7c44","type":"ui_group","z":"","name":"Puffer 1","tab":"2d17ad0a.fbec1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f1abb8d.8eb484","type":"ui_group","z":"","name":"Brauchwassertemperatur","tab":"e08c0385.afa7e8","disp":true,"width":"6","collapse":false},{"id":"fa828106.c15e38","type":"ui_group","z":"","name":"Kollektortemperatur","tab":"2ffb897d.bece06","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4a7863.db8a2f8","type":"ui_group","z":"","name":"Puffer2","tab":"2d17ad0a.fbec1a","order":2,"disp":true,"width":"6","collapse":false},{"id":"8fccac89.626168","type":"ui_group","z":"","name":"Status","tab":"eb79a02.3b2c46","order":2,"disp":true,"width":"6","collapse":false},{"id":"814ef866.cb318","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"solar_archiv","tz":""},{"id":"142dfbc2.228e8c","type":"ui_group","z":"","name":"Datenbank","tab":"c01b30ff.aa44d","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6448fa2.b6efa8","type":"ui_group","z":"","name":"Graph","tab":"c01b30ff.aa44d","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d17ad0a.fbec1a","type":"ui_tab","z":"","name":"Puffer","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e08c0385.afa7e8","type":"ui_tab","z":"","name":"Brauchwasser","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2ffb897d.bece06","type":"ui_tab","z":"","name":"Dach","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"eb79a02.3b2c46","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c01b30ff.aa44d","type":"ui_tab","z":"","name":"Archiv","icon":"dashboard","order":5,"disabled":false,"hidden":false}]